@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: "Cardo", serif;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
/* Top Header */
.topHeader {
  background: #1b3764;
  margin: 0 auto;
  height: fit-content;
  padding: 40px;
}
.container {
  display: flex;
  justify-content: space-around;
  max-width: 1317px;
  width: 100%;
  align-items: center;
}
/* Left D-flex */
.leftDiv {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 5px;
}
.iconbg {
  margin-left: 18px;
  padding: 12px;
  background: #fff;
}

/* Right D-flex */
.rightDiv {
  display: flex;
  align-items: center;
  gap: 35px;
  position: relative;
}
.uld-flex {
  display: flex;
  gap: 28px;
}
.uld-flex > li > a {
  color: #fff;
}
.dropDown > li > a {
  font-size: 16px;
  color: #f4f8ff;
}
.dropDown-Content {
  position: absolute;
  min-width: 65px;
  top: 32px;
  left: 65px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  clip-path: inset(0 0 100% 0);
}
.dropDown-Content > li > a {
  font-size: 14px;
  color: #f4f8ff;
}
.dropDown:hover .dropDown-Content {
  clip-path: inset(0 0 0 0);
}

/* Basket */
.basket {
  display: flex;
  justify-content: center;
  align-items: center;
}
.positbasket {
  position: relative;
  color: #000;
  background: #ffca42;
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 1px;
  border-radius: 24px;
  font-size: 12px;
  top: -10px;
  left: -3px;
}
/* btnDesign */
.btnOrderMini {
  width: 155px;
  height: 45px;
  cursor: pointer;
  border: none;
  font-family: "Cardo", serif;
  font-size: 14px;
  background-color: #ffca42;
}

/* DivCenter */
.centerDiv {
  width: 100%;
  display: flex;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
}
/* DivLeft */
.divLeft {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 55%;
}
.fontheadeh2 {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  font-family: "Cardo", serif;
  color: #fff;
  margin: 0px 50px;
  position: relative;
}
.fontheadeh2::before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background: #ffca42;
  left: -50px;
  top: 50%;
  position: absolute;
}
.headerh3 {
  color: #fff;
  width: 80%;
  font-family: "Cadro", serif;
  font-weight: 700;
  font-size: 65px;
}
.pCenter {
  width: 60%;
  line-height: 28px;
  color: #b4c7e7;
}
/* Button Design */
.buttonDesign {
  display: flex;
  gap: 40px;
  text-align: center;
  align-items: center;
}
.btnOrder {
  width: 200px;
  height: 55px;
  border: none;
  cursor: pointer;
  font-family: "Cardo", serif;
  font-size: 18px;
  background-color: #ffca42;
}
.ahRef {
  color: #b4c7e7;
  padding: 5px;
  border-bottom: 1px solid #b4c7e7;
}
/* DivRight  */
.divRight {
  width: 400px;
  height: 700px;
}
/* ul design */
.ulDesign {
  display: flex;
  flex-direction: column;
}
.ul1 {
  display: flex;
  justify-content: space-around;
  color: #fff;
  gap: 20px;
}
.ul1 > li {
  font-size: 24px;
  list-style-image: url("./iconimg/Vector.svg");
}
.ul2 {
  display: flex;
  justify-content: space-around;
  color: #b4c7e7;
}

/* Section(1) */
.section1 {
  width: 100%;
  margin: 125px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.h3sec1 {
  font-size: 35px;
  font-weight: 700;
  font-family: "Cardo", serif;
  color: #1b3764;
}
.sec1center {
  /* background-color: #000; */
  display: flex;
  width: 100%;

  justify-content: space-evenly;
}
.divBook1 {
  display: flex;
  background-color: #ffca42;
  width: 150px;
  height: 150px;
  position: relative;
}
.divBook2 {
  background-color: red;
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: -1;
  transition: 0.3s ease;
  transform: translateX(0px);
}

.divBook1:hover .divBook2 {
  transform: translateX(150px);
}
/* Div */
.divBook3 {
  display: flex;
  background-color: aqua;
  width: 150px;
  height: 150px;
  position: relative;
}
.divBook4 {
  background-color: blue;
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: -1;
  transition: 0.3s ease;
  transform: translateX(0px);
}

.divBook3:hover .divBook4 {
  transform: translateX(150px);
}

/* Section(2) */
.section2 {
  width: 100%;
  background-color: #f5f5f5;
}
.divCenter {
  width: 100%;
  margin: 50px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}
.leftDivsec2 {
  /* width: 55%; */
}

.box {
  position: relative;
  width: 500px;
  height: 500px;
}
.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.box:hover .imgBox {
  transform: translate(-1.5rem, -1.5rem);
}

.boxbac {
  position: absolute;
  top: 0;
  left: 65px;
  width: 74%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  border: 12px solid #ffca42;
  z-index: 1;
  box-shadow: 0px 35px 25px rgba(4, 11, 20, 0.15);
  transition: 0.5s ease-in-out;
}
.rightDivsec2 {
  /* width: 45%; */
}
hr {
  width: 50px;
  height: 3px;
  border: none;
  margin: 8px 0;
  background-color: #ffca42;
}

.pCentersec2 {
  width: 85%;
  line-height: 30px;
  font-family: "Inter";
  color: #969aa0;
  font-weight: 400;
  font-size: 19px;
}
.textDivsec2 {
  display: flex;
  justify-content: start;
  gap: 50px;
  margin-top: 12px;
}
.h4sec2 {
  font-family: "Cardo";
  color: #1b3764;
  font-weight: 700;
  font-size: 55px;
}
.hrRow {
  width: 2px;
  height: 90px;
  border: none;
  background-color: #ffca42;
}
.divBootm {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-top: 20px;
  gap: 20px;
  background-color: #1b3764;
}
.divBotmLeft {
  width: 100px;
  height: 100px;
  background-color: #f5f5f5;
}
/* divBotmRight design */
.h5sec5 {
  font-family: "Cardo";
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  color: #ffca42;
}
.divBotmRight > p {
  color: #969aa0;
}

/* Section(3) */

.divCartImg1 {
  width: 250px;
  height: 250px;
}
.widthimg {
  width: 100%;
  height: 100%;
}
/* Section(4) */
.section4 {
  width: 100%;
  padding: 30px;
  background-color: #1b3764;
}
.centerDivSec4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftDivsec4 {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.h3sec4 {
  font-weight: 700;
  font-size: 45px;
  font-family: "Cardo";
  color: #f5f5f5;
}
/* btnOrderMinisec4 design */
.btnOrderMinisec4 {
  font-family: "Cardo", serif;
  font-size: 14px;
  border: 1px solid #ffca42;
  background-color: #1b3764;
  color: #fff;
}
/* Section(5) */
.section5 {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  justify-content: center;
}
.leftDivsec5 {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
.divCart1 {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 22px;
  background-color: #f4f8ff;
}
.divCart1 > p {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-family: "Cadro", serif;
  color: #1b3764;
}

.sircle {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 22px;
  padding: 12px;
  border-radius: 50px;
  background-color: #ffca42;
}

/* Section(6) */
.section6 {
  width: 100%;
  background-color: #f4f8ff;
}
.centerSec6 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
  gap: 32px;
  flex-direction: column;
}
.centerCarts {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 18px;
  gap: 25px;
}
.cart1Sec6 {
  width: 480px;
  height: 175px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #fff;
  box-shadow: 0px 35px 25px rgba(4, 11, 20, 0.04);
}
.cart2Sec6 {
  width: 420;
  height: 175px;
  background-color: #969aa0;
}
.h5sec6 {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 22px;
  color: #1b3764;
}
.cart1Sec6 > p {
  color: #969aa0;
}

.ul1sec6 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 38px;
  color: #1b3764;
}
.ul1sec6 > li {
  font-size: 18px;
  list-style-image: url("./iconimg/Vector.svg");
}
li > span {
  font-size: 16px;
  color: #969aa0;
}
/* BootmSec6 Design */
.bottomSec6 {
  display: flex;
  width: 25%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 22px;
}
.btnA {
  width: 300px;
  height: 50px;
  text-align: center;
  padding: 14px;
  background-color: #ffca42;
}
.bottomSec6 > p {
  color: #969aa0;
}
.haveAny {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #1b3764;
}
/* Section(7) */
.section7 {
  width: 100%;
}
.centerSec7 {
  display: flex;
  width: 75%;
  margin: 40px auto;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.leftDivSec7 {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.h3sec7 {
  width: 65%;
  font-size: 35px;
  font-weight: 700;
  font-family: "Cardo", serif;
  color: #1b3764;
}
.leftBootm {
  display: flex;
}
.rightDivSec7 {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
.leftdiv1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.cart1Sec7 {
  width: 245px;
  height: 225px;
  padding: 18px;
  background-color: #1b3764;
}
.centerSec7text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.perSon {
  display: flex;
  gap: 8px;
}
.h4sec7 {
  font-size: 18px;
  font-family: "Cadro", serif;
  color: #f4f8ff;
}
.centerSec7text > p {
  font-size: 12px;
  color: #f4f8ff;
}

.imgDiv {
  width: 80px;
  height: 80px;
}
.namePerson {
  display: flex;
  padding: 25px 0;
  flex-direction: column;
}

.iconImgDiv {
  width: 45px;
}

.cart2Sec7 {
  width: 150px;
  height: 150px;
  background-color: #ffca42;
}
.cart3Sec7 {
  width: 150px;
  height: 150px;
  background-color: #1b3764;
}
/* Section(8) */
.section8 {
  width: 100%;
  padding: 20px;
  background-color: #f4f8ff;
}
.centerSec8 {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.centerDivSec8 {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.realModCart1 {
  width: 320px;
  height: fit-content;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 35px 25px rgba(4, 11, 20, 0.04);
}
.divImg {
  width: 100%;
  object-fit: cover;
}
/* Cart Center */
.cartCenter {
  text-align: start;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.h4sec8 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Cardo", serif;
  color: #1b3764;
}
.cartCenter > p {
  color: #b4c7e7;
  font-size: 14px;
}
.cartBootm {
  display: flex;
  font-size: 14px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
/* Section(9) */
.centerDivSec9 {
  width: 650px;
  margin: 80px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
  color: #1b3764;
  background-color: #ffca42;
}
.h3sec9 {
  font-size: 34px;
  font-weight: 700px;
  font-family: "Cardo", serif;
}
.hrsec9 {
  width: 50px;
  height: 2px;
  border: none;
  background-color: #1b3764;
}
.centerDivSec9 > p {
  width: 60%;
  font-size: 14px;
}
.form {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.inputSec9 {
  width: 320px;
  height: 40px;
  border: none;
  padding: 6px;
}
.btnSubmit {
  width: 200px;
  height: 40px;
  font-size: 14px;
  font-family: "Cardo", serif;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: #1b3764;
  color: #f5f5f5;
}
/* centerDivFooter */
.footer {
  width: 100%;
  background-color: #1b3764;
}
.contentDiv2 {
  width: 100%;
}
.centerDivFooter {
  width: 80%;
  margin: 35px auto;
  display: flex;
  /* background-color: #969aa0; */
  justify-content: space-between;
  padding: 30px;
}
.divPages {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  padding: 5px;
}
.divimgPage {
  display: flex;
  gap: 8px;
  color: #f5f5f5;
  align-items: center;
}
.divIcon {
  display: flex;
  gap: 20px;
}
.icon1design {
  padding: 8px;
  border: 1px solid #ffca42;
  background-color: #b4c7e7;
}
.h5footer {
  font-size: 18px;
  font-weight: 700;
  font-family: "Cardo", serif;
  color: #fff;
}
.divExplore {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.expLore {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.expLore > li {
  list-style: url("./iconimg/icon.svg");
}
.expLore > li > a {
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", serif;
  color: #b4c7e7;
}
.Keep {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.Keep > li > a {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 14px;
  color: #f5f5f5;
}
.footerbootmDiv {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 18px;
  border-top: 1px solid #969aa0;
  /* background-color: #ffca42; */
}
.h5sec6 {
  color: #969aa0;
  font-size: 18px;
  font-family: "Cadro", serif;
}
.colorSpan {
  color: #f5f5f5;
}
/* -- Resposive -- Design All */
@media screen and (max-width: 992px) {
  /* ----Header---- */
  .container {
    padding: 0 10px;
    max-width: 100%;
  }
  /* LeftDiv */
  .leftDiv {
    font-size: 12px;
    gap: 4px;
  }
  .iconbg {
    margin-left: 5px;
    padding: 5px;
  }
  /* Right Div */
  .rightDiv {
    gap: 8px;
    padding: 0 8px;
  }
  .uld-flex {
    gap: 20px;
    font-size: 12px;
  }
  .btnOrderMini {
    width: 125px;
    height: 40px;
    font-size: 14px;
  }
  /* Div Center */
  .centerDiv {
    gap: 50px;
  }
  .divLeft {
    font-size: 14px;
    width: 100%;
  }
  .headerh3 {
    font-size: 38px;
  }
  .pCenter {
    width: 80%;
  }
  .btnOrder {
    width: 160px;
    height: 42px;
    font-size: 16px;
  }
  .ahRef {
    padding: 2px;
    font-size: 16px;
  }
  .ulDesign {
    font-size: 12px;
  }
  .ul1 {
    gap: 34px;
  }
  .ul1 > li {
    font-size: 16px;
  }
  .divRight {
    width: 365px;
    height: 350px;
  }
  /* ----Section(1)---- */
  /* ----Resposible---- */
  .section1 {
    margin: 26px;
    gap: 26px;
    text-align: center;
  }
  .sec1center {
    gap: 46px;
  }
  .divBook1 {
    width: 140px;
    height: 140px;
  }

  .divBook2 {
    width: 140px;
    height: 140px;
  }
  .divBook1:hover .divBook2 {
    transform: translateX(140px);
  }

  .divBook3 {
    width: 140px;
    height: 140px;
  }
  .divBook4 {
    width: 140px;
    height: 140px;
  }

  .divBook3:hover .divBook4 {
    transform: translateX(140px);
  }
  /* ----Section(2)---- */
  /* ----Resbonsible---- */
  .box {
    width: 380px;
    height: 380px;
  }
  .boxbac {
    left: 65px;
    width: 68%;
  }
  .pCentersec2 {
    width: 95%;
    font-size: 12px;
    line-height: 20px;
  }
  .textDivsec2 {
    gap: 14px;
  }
  .h4sec2 {
    font-size: 34px;
  }
  .divBootm {
    width: 100%;
    gap: 16px;
  }
  .h5sec5 {
    font-size: 14px;
  }
  /* ----Section(5)---- */
  /* ----Resbonsible---- */
  .sec5Center {
    display: flex;
    flex-direction: column;
  }
  .leftDivsec5 {
    width: 100%;
    flex-wrap: nowrap;
  }
  .divCart1 {
    width: 250px;
    height: 200px;
    gap: 16px;
    padding: 10px;
  }
  .divCart1 > p {
    font-size: 16px;
    line-height: 20px;
  }
  .rightDivsec5 {
    display: none;
  }
  /*----Section(6)----  */
  /* ---Responsible--- */
  .centerSec6 {
    width: 100%;
    padding: 20px;
    gap: 22px;
  }
  .h3sec1 {
    font-size: 34px;
  }
  .centerCarts {
    width: 100%;
    padding: 18px;
    gap: 25px;
  }
  .cart1Sec6 {
    width: 450px;
    height: 165px;
    padding: 24px;
    gap: 18px;
  }
  .h5sec6 {
    font-size: 18px;
  }
  .cart1Sec6 > p {
    font-size: 14px;
  }
  .ul1sec6 {
    gap: 16px;
  }
  .ul1sec6 > li {
    font-size: 18px;
  }
  li > span {
    font-size: 14px;
  }
  /* BootmSec6 */
  .bottomSec6 {
    font-size: 12px;
  }
  .btnA {
    width: 260px;
    height: 45px;
    font-size: 14px;
    padding: 14px;
  }
  /* ----Section(7)---- */
  /* ----Resbonsible---- */
  .centerSec7 {
    width: 100%;
    flex-direction: column;
  }
  .leftDivSec7 {
    width: 50%;

    gap: 10px;
  }
  .h3sec7 {
    width: 100%;
    font-size: 34px;
  }
  .rightDivSec7 {
    width: 100%;
  }
  .cart1Sec7 {
    width: 235px;
    height: 200px;
    padding: 18px;
  }
  .centerSec7text {
    gap: 8px;
  }
  .imgDiv {
    width: 70px;
    height: 70px;
  }
  .h4sec7 {
    font-size: 16px;
  }
  /* ----Section(8)---- */
  /* ----Resbonsible---- */
  .section8 {
    width: 100%;
    padding: 24px;
  }
  .centerSec8 {
    gap: 8px;
    padding: 0;
  }
  .centerDivSec8 {
    padding: 10px;
  }
  .realModCart1 {
    width: 210px;
  }
  .cartCenter {
    padding: 8px;
    gap: 12px;
  }
  .h4sec8 {
    font-size: 14px;
  }
  .cartCenter > p {
    font-size: 12px;
  }
  .cartBootm {
    font-size: 12px;
  }
  /* ----Footer----- */
  /* ----Resbonsible---- */
  .centerDivFooter {
    width: 100%;
    padding: 30px;
    margin: 0;
    gap: 44px;
  }
  .divPages {
    gap: 20px;
    padding: 5px;
  }
  .divimgPage {
    gap: 8px;
  }
  .divIcon {
    gap: 14px;
  }
  .icon1design {
    padding: 6px;
  }
  .divExplore {
    gap: 6px;
  }
  .h5footer {
    font-size: 15px;
  }
  .expLore {
    gap: 6px;
  }
  .expLore > li > a {
    font-size: 14px;
  }
}
