@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: "Cardo", serif;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
/* Top Header */
.topHeader {
  background: #1b3764;
  margin: 0 auto;
  height: fit-content;
  padding: 40px;
}
.container {
  display: flex;
  justify-content: space-around;
  max-width: 1317px;
  width: 100%;
  align-items: center;
}
/* Left D-flex */
.leftDiv {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 5px;
}
.iconbg {
  margin-left: 18px;
  padding: 12px;
  background: #fff;
}

/* Right D-flex */
.rightDiv {
  display: flex;
  align-items: center;
  gap: 35px;
  position: relative;
}
.uld-flex {
  display: flex;
  gap: 28px;
}
.uld-flex > li > a {
  color: #fff;
}
.dropDown > li > a {
  font-size: 16px;
  color: #f4f8ff;
}
.dropDown-Content {
  display: none;
  position: absolute;
  min-width: 65px;
  top: 32px;
  left: 66px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 1;
}
.dropDown-Content > li > a {
  font-size: 14px;
  color: #f4f8ff;
}
.dropDown:hover .dropDown-Content {
  display: block;
  transition: all 0.5s ease-in;
}
/* Basket */
.basket {
  display: flex;
  justify-content: center;
  align-items: center;
}
.positbasket {
  position: relative;
  color: #000;
  background: #ffca42;
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 1px;
  border-radius: 24px;
  font-size: 12px;
  top: -10px;
  left: -3px;
}
/* btnDesign */
.btnOrderMini {
  width: 155px;
  height: 45px;
  cursor: pointer;
  border: none;
  font-family: "Cardo", serif;
  font-size: 14px;
  background-color: #ffca42;
}

/* DivCenter */
.centerDiv {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 14px;
  color: rgba(180, 199, 231, 1);
}
.headerh3 {
  font-size: 34px;
  font-family: "Cardo";
  font-weight: 700;
  color: #fff;
}
hr {
  width: 50px;
  height: 2px;
  background-color: #ffca42;
  border: 0;
}
/* ----Section(1)---- */
.widthimg {
  width: 100%;
  height: 100%;
}
.section1 {
  width: 100%;
  /* background-color: #ffca42; */
  margin: 60px auto;
}
.divCarts {
  width: 100%;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  /* background-color: rgba(180, 199, 231, 1); */
}
.cart1 {
  width: 350px;
  height: fit-content;
  padding: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.backDiv {
  width: 60%;
  padding: 14px;
  display: flex;
  justify-content: center;
  background-color: rgba(245, 248, 252, 1);
}
.cart1Img {
  width: 250px;
  height: 200px;
}
.centerCartText {
  display: flex;
  padding: 10px;
  gap: 12px;
  flex-direction: column;
}
.h3sec1 {
  font-size: 24px;
  font-family: "Cardo";
  font-weight: 700;
}
.textD-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textD-flex > span {
  color: #ffca42;
}
.centerCartText > li {
  list-style: url("../iconimg/Vector.svg");
}
.btnOrder {
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-family: "Order";
  border: 1px solid #ffca42;
  color: #1b3764;
  cursor: pointer;
}
/* ----Section(2)---- */
.centerDivSec2 {
  width: 650px;
  margin: 80px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
  color: #1b3764;
  background-color: #ffca42;
}
.h3sec2 {
  font-size: 34px;
  font-weight: 700px;
  font-family: "Cardo", serif;
}
.hrsec2 {
  width: 50px;
  height: 2px;
  border: none;
  background-color: #1b3764;
}
.centerDivSec2 > p {
  width: 60%;
  font-size: 14px;
}
.form {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.inputSec2 {
  width: 320px;
  height: 40px;
  border: none;
  padding: 6px;
}
.btnSubmit {
  width: 200px;
  height: 40px;
  font-size: 14px;
  font-family: "Cardo", serif;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: #1b3764;
  color: #f5f5f5;
}
/* ----Footer---- */
.footer {
  width: 100%;
  background-color: #1b3764;
}
.contentDiv2 {
  width: 100%;
}
.centerDivFooter {
  width: 80%;
  margin: 35px auto;
  display: flex;
  /* background-color: #969aa0; */
  justify-content: space-between;
  padding: 30px;
}
.divPages {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  padding: 5px;
}
.divimgPage {
  display: flex;
  gap: 8px;
  color: #f5f5f5;
  align-items: center;
}
.divIcon {
  display: flex;
  gap: 20px;
}
.icon1design {
  padding: 8px;
  border: 1px solid #ffca42;
  background-color: #b4c7e7;
}
.h5footer {
  font-size: 18px;
  font-weight: 700;
  font-family: "Cardo", serif;
  color: #fff;
}
.divExplore {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.expLore {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.expLore > li {
  list-style: url("../iconimg/icon.svg");
}
.expLore > li > a {
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", serif;
  color: #b4c7e7;
}
.Keep {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.Keep > li > a {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 14px;
  color: #f5f5f5;
}
.footerbootmDiv {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 18px;
  border-top: 1px solid #969aa0;
  /* background-color: #ffca42; */
}
.h5sec5 {
  color: #969aa0;
  font-size: 18px;
  font-family: "Cadro", serif;
}
.colorSpan {
  color: #f5f5f5;
}
