@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: "Cardo", serif;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
/* Top Header */
.topHeader {
  background: #1b3764;
  margin: 0 auto;
  height: fit-content;
  padding: 40px;
}
.container {
  display: flex;
  justify-content: space-around;
  max-width: 1317px;
  width: 100%;
  align-items: center;
}
/* Left D-flex */
.leftDiv {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 5px;
}
.iconbg {
  margin-left: 18px;
  padding: 12px;
  background: #fff;
}

/* Right D-flex */
.rightDiv {
  display: flex;
  align-items: center;
  gap: 35px;
  position: relative;
}
.uld-flex {
  display: flex;
  gap: 28px;
}
.uld-flex > li > a {
  color: #fff;
}
.dropDown > li > a {
  font-size: 16px;
  color: #f4f8ff;
}
.dropDown-Content {
  position: absolute;
  min-width: 65px;
  top: 22px;
  left: 95px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  clip-path: inset(0 0 100% 0);
}
.dropDown-Content > li > a {
  font-size: 14px;
  color: #f4f8ff;
}
.dropDown:hover .dropDown-Content {
  clip-path: inset(0 0 0 0);
}
.showList {
  display: none;
}
.hamburger-menu {
  display: none;
}

/* Basket */
.basket {
  display: flex;
  justify-content: center;
  align-items: center;
}
.positbasket {
  position: relative;
  color: #000;
  background: #ffca42;
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 1px;
  border-radius: 24px;
  font-size: 12px;
  top: -10px;
  left: -3px;
}
/* btnDesign */
.btnOrderMini {
  width: 155px;
  height: 45px;
  cursor: pointer;
  border: none;
  font-family: "Cardo", serif;
  font-size: 14px;
  background-color: #ffca42;
}

/* DivLeft */
.divLeft {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 55%;
}
.fontheadeh2 {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  font-family: "Cardo", serif;
  color: #fff;
  margin: 0px 50px;
  position: relative;
}
.fontheadeh2::before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background: #ffca42;
  left: -50px;
  top: 50%;
  position: absolute;
}
.headerh3 {
  color: #fff;
  width: 80%;
  font-family: "Cadro", serif;
  font-weight: 700;
  font-size: 65px;
}
.pCenter {
  width: 60%;
  line-height: 28px;
  color: #b4c7e7;
}
/* Button Design */
.buttonDesign {
  display: flex;
  gap: 40px;
  text-align: center;
  align-items: center;
}
.btnOrder {
  width: 200px;
  height: 55px;
  border: none;
  cursor: pointer;
  font-family: "Cardo", serif;
  font-size: 18px;
  background-color: #ffca42;
}
.ahRef {
  color: #b4c7e7;
  padding: 5px;
  border-bottom: 1px solid #b4c7e7;
}
/* DivRight  */
.divRight {
  width: 400px;
  height: 700px;
}
/* ul design */
.ulDesign {
  display: flex;
  flex-direction: column;
}
.ul1 {
  display: flex;
  justify-content: space-around;
  color: #fff;
  gap: 20px;
}
.ul1 > li {
  font-size: 24px;
  list-style-image: url("./iconimg/Vector.svg");
}
.ul2 {
  display: flex;
  justify-content: space-around;
  color: #b4c7e7;
}
/* ----Section(1)---- */
.widthImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* /* DivCenter */
.centerBackImg {
  background-image: url(../iconimg/errorBack.svg);
  width: 100%;
  display: flex;
  height: 900px;
}
.errorDiv {
  width: 465px;
  height: fit-content;
  display: flex;
  text-align: center;
  gap: 20px;
  flex-direction: column;
  margin: auto;
}
.textError {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.textError > p {
  font-size: 14px;
}
.h4errorText {
  font-family: "Cadro", serif;
  font-weight: 700;
  font-size: 38px;
  color: #1b3764;
}

.btnsecError {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #ffca42;
  color: #1b3764;
  font-family: "Cadro";
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
/* ----Footer---- */
.footer {
  width: 100%;
  background-color: #1b3764;
}
.contentDiv2 {
  width: 100%;
}
.centerDivFooter {
  width: 80%;
  margin: 35px auto;
  display: flex;
  /* background-color: #969aa0; */
  justify-content: space-between;
  padding: 30px;
}
.divPages {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  padding: 5px;
}
.divimgPage {
  display: flex;
  gap: 8px;
  color: #f5f5f5;
  align-items: center;
}
.divIcon {
  display: flex;
  gap: 20px;
}
.icon1design {
  padding: 8px;
  border: 1px solid #ffca42;
  background-color: #b4c7e7;
}
.h5footer {
  font-size: 18px;
  font-weight: 700;
  font-family: "Cardo", serif;
  color: #fff;
}
.divExplore {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.expLore {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.expLore > li {
  list-style: url("../iconimg/icon.svg");
}
.expLore > li > a {
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", serif;
  color: #b4c7e7;
}
.Keep {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.Keep > li > a {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 14px;
  color: #f5f5f5;
}
.footerbootmDiv {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 18px;
  border-top: 1px solid #969aa0;
  /* background-color: #ffca42; */
}
.h5sec6 {
  color: #969aa0;
  font-size: 18px;
  font-family: "Cadro", serif;
}
.colorSpan {
  color: #f5f5f5;
}

@footerscreen and (max-width: 992px) {
  /* ----Header---- */
  .container {
    padding: 0 10px;
    max-width: 96%;
  }
  /* LeftDiv */
  .leftDiv {
    font-size: 12px;
    gap: 4px;
  }
  .iconbg {
    margin-left: 5px;
    padding: 5px;
  }
  /* Right Div */
  .rightDiv {
    gap: 10px;
    padding: 0 10px;
  }
  .uld-flex {
    gap: 20px;
    color: #1b3764;
    font-size: 22px;
    position: fixed;
    left: -5%;
    top: 0px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .uld-flex .active {
    left: 0;
  }
  .btnOrderMini {
    width: 125px;
    height: 40px;
    font-size: 14px;
    display: none;
  }
  .iconDiv {
    display: none;
  }
  .rightDiv {
    transform: translateX(-100%);
    position: fixed;
    width: 45%;
    transition: 0.5s;
    bottom: 0;
    background: black;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .basket {
    display: none;
  }
  .showList {
    display: block;
  }

  .hamburger-menu {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
  }
  .hamburger-menu .basket {
    display: block;
    margin-top: 18px;
  }
  .iconHamburger {
    display: block;
  }
  .positbasket {
    top: -34px;
    left: 15px;
  }
  /* Div Center */
  .centerDiv {
    gap: 50px;
  }
  .divLeft {
    font-size: 14px;
    width: 100%;
  }
  .headerh3 {
    font-size: 38px;
  }
  .pCenter {
    width: 80%;
  }
  .btnOrder {
    width: 160px;
    height: 42px;
    font-size: 16px;
  }
  .ahRef {
    padding: 2px;
    font-size: 16px;
  }
  .ulDesign {
    font-size: 12px;
  }
  .ul1 {
    gap: 34px;
  }
  .ul1 > li {
    font-size: 16px;
  }
  .dropDown > li > a {
    font-size: 22px;
  }
  .dropDown-Content {
    top: 230px;
    left: 265px;
  }
  .dropDown-Content > li > a {
    font-size: 12px;
  }
  .divRight {
    width: 365px;
    height: 350px;
  }
  /* ----Footer----- */
  /* ----Resbonsible---- */
  .centerDivFooter {
    width: 100%;
    padding: 30px;
    margin: 0;
    gap: 22px;
  }
  .divPages {
    gap: 20px;
    padding: 5px;
  }
  .divimgPage {
    gap: 8px;
  }
  .divIcon {
    gap: 14px;
  }
  .icon1design {
    padding: 6px;
  }
  .divExplore {
    gap: 6px;
  }
  .h5footer {
    font-size: 15px;
  }
  .expLore {
    gap: 6px;
  }
  .expLore > li {
    list-style: none;
  }
  .expLore > li > a {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  /* ----Footer---- */
  .centerDivFooter {
    justify-content: center;
    padding: 38px 0;
    gap: 38px;
    flex-direction: column;
  }
  .divIcon {
    gap: 12px;
  }
  .icon1design {
    padding: 4px;
  }
  .divExplore {
    gap: 6px;
    font-size: 16px;
  }
  .Keep {
    gap: 8px;
    font-size: 12px;
  }
  .h5sec6 {
    font-size: 14px;
  }
}
